<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Warrior vs Monster</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- HEADER -->
        <header class="header">
            <h1 class="header__logo">- WARRIOR vs MONSTER -</h1>
        </header>

        <!-- GAME -->
        <main class="game" id="app">
            <div class="layout_panel scores">
                <!-- SCORE -->
                <div class="score">
                    <h1 class="score__player">Jogador</h1>
                    <div class="score__life-bar">
                        <div class="score__life-bar__life"
                            :class="{score__lifeBar__lifeDanger: playerLife < 20}"
                            :style="{width: playerLife + '%'}"></div>
                    </div>
                    <div class="score__percentage">{{ playerLife }}%</div>
                </div>
                <div class="score">
                    <h1 class="score__player">Monstro</h1>
                    <div class="score__life-bar">
                        <div class="score__life-bar__life"
                            :class="{score__lifeBar__lifeDanger: monsterLife < 20}"
                            :style="{width: monsterLife + '%'}"></div>
                    </div>
                    <div class="score__percentage">{{ monsterLife }}%</div>
                </div>
            </div>
            <!-- RESULT -->
            <div v-if="hasResult" class="layout_panel result">
                <div v-if="monsterLife === 0" class="result__win">Você ganhou!!! :)</div>
                <div v-else class="result__lose">Você perdeu! :(</div>
            </div>
            <!-- BUTTONS -->
            <div class="layout_panel buttons">
                <template v-if="running">
                    <div @click="attack(false)" class="buttons__btn buttons__btn--attack">Ataque</div>
                    <div @click="attack(true)" class="buttons__btn buttons__btn--special-attack">Ataque Especial</div>
                    <div @click="healAndHurt" class="buttons__btn buttons__btn--heal">Curar</div>
                    <div @click="running = false" class="buttons__btn buttons__btn--give-up">Desistir</div>
                </template>
                <div v-else @click="startGame" class="buttons__btn buttons__btn--new-game">Iniciar Jogo</div>
            </div>
            <!-- LOGS -->
            <div v-if="logs.length" class="layout_panel logs">
                <ul class="logs__list">
                    <li v-for="log in logs"
                        :class="log.cls"
                        class="logs__list__item">{{ log.text }}</li>
                </ul>
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="footer">
            <p class="footer__title">Created by <a class="footer__title__link" href="https://www.github.com/fogeid" target="_blank">Diego Batista</a></p>
        </footer>        
        <script src="js/app.js"></script>
    </body>
</html>